<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	
	<typeAliases>
		 <typeAlias type="kr.ac.kopo.board.vo.BoardVO" alias="boardVO"/> 
		 <typeAlias type="kr.ac.kopo.member.vo.MemberVO" alias="memberVO"/> 
		 <typeAlias type="kr.ac.kopo.reply.vo.ReplyVO" alias="replyVO"/> 
	 </typeAliases>


<!--이미 spring.mvc.xml에 setting되어 있으므로 지우자!  -->
 <!--  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="org/mybatis/example/BlogMapper.xml"/>
  </mappers> -->
  
</configuration>